.backgroundImage {
    -fx-background-image:url('../images/CustomAddView.png');
}

Button {
    -fx-background-color: Transparent;
    -fx-background-radius: 22;
    -fx-border-color: Transparent;
    -fx-border-width: 2;
    -fx-border-radius: 22;
}

Button:hover {
    -fx-border-color: #e4e4e4;
}

.list-cell {
    -fx-background-color: Transparent;
    -fx-text-fill: #e4e4e4;
}

.list-view {
    -fx-background-color: Transparent;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #784a0b;
    -fx-text-fill: #e4e4e4;
}

