StackPane {
    -fx-background-image:url('../images/QuestionView.png');
}

Button {
    -fx-background-color: Transparent;
    -fx-background-radius: 22;
    -fx-border-color: Transparent;
    -fx-border-width: 2;
    -fx-border-radius: 22;
}

Button:hover {
    -fx-border-color: white;
}


.progress-bar, .progress-bar > .bar, .progress-bar .track, .progress-bar > .progress {
    -fx-background-image: none;
    -fx-background-radius: 3;
    -fx-background-color: Transparent;
    -fx-border-radius: 3;
    -fx-border-width: 0;
}

.progress-bar > .track {
    -fx-background-color: Transparent;
    -fx-border-width: 2;
    -fx-border-color: Transparent;
}

.progress-bar > .bar {
    -fx-background-color: #e4e4e4 ;
}


