StackPane {
    -fx-background-image:url('../images/StatsView.png');
}

Button {
    -fx-background-color: Transparent;
    -fx-background-radius: 22;
    -fx-border-color: Transparent;
    -fx-border-width: 2;
    -fx-border-radius: 22;
}

Button:hover {
    -fx-border-color: white;
}

.chart-plot-background {
    -fx-background-color: Transparent;
}

.axis-label {
    -fx-text-fill: #e4e4e4;
}